.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: DejaVuSansMono, HackArgo, sans-serif;
}
/* .body {
  background-image: url("../src/fonts/wallpaper.jpg");
  background-color: black;
  color: #fefefe;
  overflow-y: scroll;
} */
.App-logo {
  /* height: 4.5em; */
  margin-top: 7px;
  height: 73px;
  width: 73px;
  margin-right: 0.75em;
}

.App-form {
  padding: 20px;
}

.App-form.Input {
  padding: 20px;
}

input {
  padding: 1em 1.5em;
  border: none;
  box-shadow: inset 0 0 1px black;
  border: 2px;
  font-size: 1em;
}

.App-form-group input {
  border-radius: 2px 0 0 2px;
  margin-left: 1em;
}

.App-form-group .App-btn {
  border-radius: 0 2px 2px 0;
}

.App-btn {
  display: inline-block;
  margin: 1em 0;
  padding: 1em 1.5em;
  font-size: 1em;
  border-radius: 2px;
  background: #f67c46;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.App-btn:active {
  background: #d06739;
}

.App-btn:hover {
  background: #e86931;
}
