body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "HackArgo";
  src: local("HackArgo"),
    url("./fonts/HackArgo/Hacker_Argot_Regular.ttf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "DejaVuSansMono";
  src: local("DejaVuSansMono"),
    url("./fonts/DejaVu/DejaVuSansMono.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
