.Challenge {
  background-color: #f5e6e654;
  width: 200px;
  height: 150px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 14px 11px 20px 2px #4123ac;
  /* transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s,
    box-shadow 0.5s, color 0.5s, position 0.5s, display 0.5s; */
  transition: all 0.5s;
}
.Challenge:hover {
  cursor: pointer;
  color: #4a29c5;
  background-color: #222;
  box-shadow: 14px 11px 9px 2px #423e3e54;
}

.ChallengeOpenned {
  background-color: #f5e6e6;
  width: 400px;
  height: 600px;
  z-index: 9;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  display: inline-block;
  color: #4a29c5;
  background-color: #222;
  /* transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s,
    box-shadow 0.5s, color 0.5s, position 0.5s, display 0.5s; */
  transition: all 0.5s;
}
.ChallengeOpenned:hover {
  cursor: pointer;
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}
